<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
</head>
<body>
<h2>Product Table Update</h2>
<hr>
<form action="/api/product/pupdate" method="post" enctype="multipart/form-data">
    <table>
        <div th:if="${not #lists.isEmpty(ptable)}">
            <tr>
                <th>PRODUCT_ID (PK)</th>
                <td><input type="text" name="product_id" th:value="${ptable.product_id}" readonly></td>
            </tr>
            <tr>
                <th>PROMOTION_ID (FK)</th>
                <td>
                    <select name="promotion_id" id="promotion_id">
                        <th:block th:each="p : ${pmptable}">
                            <option th:value="${p.promotion_id}" th:selected="${p.promotion_id == ptable.promotion_id}">
                                <span th:text="${p.promotion_id}">ID</span>: <span th:text="${p.promotion_name}">Promotion Name</span>
                            </option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <th>PRODUCT_KIND</th>
                <td>
                    <select name="product_kind" id="product_kind">
                        <option th:value="${ptable.product_kind}" th:selected="true" th:text="${ptable.product_kind}"></option>
                        <option value="all">all</option>
                        <option value="dog">dog</option>
                        <option value="cat">cat</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>PRODUCT_CATEGORY</th>
                <td>
                    <select name="product_category" id="product_category">
                        <option th:value="${ptable.product_category}" th:selected="true" th:text="${ptable.product_category}"></option>
                        <option value="all">all</option>
                        <option value="feed">feed</option>
                        <option value="snackNutrient">snackNutrient</option>
                        <option value="hygiene">hygiene</option>
                        <option value="beautyCare">beautyCare</option>
                        <option value="living">living</option>
                        <option value="walkPlay">walkPlay</option>
                        <option value="clothesAccessorie">clothesAccessorie</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>PRODUCT_NAME</th>
                <td><input type="text" name="product_name" th:value="${ptable.product_name}"></td>
            </tr>
            <tr>
                <th>PRODUCT_DESCRIPTION</th>
                <td><input type="text" name="product_description" th:value="${ptable.product_description}"></td>
            </tr>
            <tr>
                <th>PRODUCT_PRICE</th>
                <td><input type="text" name="product_price" th:value="${ptable.product_price}"></td>
            </tr>
            <tr>
                <th>PRODUCT_STOCK</th>
                <td><input type="text" name="product_stock" th:value="${ptable.product_stock}"></td>
            </tr>
            <tr>
                <th>PRODUCT_SALES</th>
                <td><input type="text" name="product_sales" th:value="${ptable.product_sales}"></td>
            </tr>
            <tr>
                <th>PRODUCT_REGDATE</th>
                <td><input type="date" name="product_regdate"
                           th:value="${#dates.format(ptable.product_regdate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <th>PRODUCT_MAINIMAGEPATH</th>
                <td>
                    <input type="hidden" name="product_mainimagepath" th:value="${ptable.product_mainimagepath}" readonly><br>
                    <input type="file" name="uploadfilef" id="uploadfilef">
                </td>
            </tr>
            <tr>
                <th>PRODUCT_DETAILIMAGEPATH</th>
                <td>
                    <input type="hidden" name="product_detailimagepath" th:value="${ptable.product_detailimagepath}" readonly><br>
                    <input type="file" name="uploadfilef2" id="uploadfilef2">
                </td>
            </tr>
            <tr>
                <th>PRODUCT_RATING</th>
                <td><input type="text" name="product_rating" th:value="${ptable.product_rating}"></td>
            </tr>
            <tr>
                <th>PRODUCT_ORIGIN</th>
                <td><input type="text" name="product_origin" th:value="${ptable.product_origin}"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="수정">&nbsp;&nbsp;&nbsp;
                    <input type="reset" value="취소">
                </td>
            </tr>
        </div>
        <div th:if="${#lists.isEmpty(ptable)}">
            <tr>
                <td>수정할 상품이 존재하지 않습니다</td>
            </tr>
        </div>
    </table>
</form>
<hr>
</body>
</html>
