<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
</head>
<body>
<h2>Product_Image Table List</h2>
&nbsp;<a class="addData" onclick="piInsertTable()">테이블 데이터 추가</a>&nbsp;
<hr>

<!-- Search Bar -->
<div id="searchBar">
    <select name="searchType" id="searchType" onchange="keywordClear()">
        <option value="all">전체</option>
        <option value="pimage_id">pID</option>
        <option value="product_id">ID</option>
    </select>
    <input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
    <button id="searchBtn" onclick="searchPIDB()">Search</button>
</div>
<br>

<!-- Table -->
<table border="1">
    <tr>
        <th>Delete</th>
        <th>Update</th>
        <th>PIMAGE_ID</th>
        <th>PRODUCT_ID</th>
        <th>PRODUCT_IMAGE</th>
        <th>PRODUCT_VALUE1</th>
    </tr>

    <!-- Conditional rendering for data -->
    <tr th:if="${#lists.isEmpty(pitable)}">
        <td colspan="7">등록된 상품이 없습니다</td>
    </tr>
    <tr th:each="s : ${pitable}">
        <td><a th:onclick="'piDelete(' + ${s.pimage_id} + ')'" th:id="${s.pimage_id}">삭제</a></td>
        <td><a th:onclick="'piUpdate(' + ${s.pimage_id} + ')'" th:id="${s.pimage_id}">수정</a></td>
        <td th:text="${s.pimage_id}"></td>
        <td th:text="${s.product_id}"></td>
        <td><img alt="MyImage" th:src="@{/uploadImages/{path}(path=${s.product_imagepath})}" width="60" height="40"></td>

        </td>
        <td th:text="${s.product_value1}"></td>
    </tr>
</table>

<!-- Pagination -->
<div style="text-align:center;">
    <!-- First Page -->
    <a th:href="@{/product/pImageList(currPage=1, rowsPerPage=${pageMaker.cri.rowsPerPage})}">FP</a>&nbsp;

    <!-- Page Numbers -->
    <span th:each="i : ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
            <span th:if="${i == pageMaker.cri.currPage}">
                <font color="Orange" size="5"><b th:text="${i}"></b></font>&nbsp;
            </span>
            <a th:if="${i != pageMaker.cri.currPage}"
               th:href="@{/product/pImageList} + ${pageMaker.makeQuery(i)}"
               th:text="${i}"></a>&nbsp;
        </span>

    <!-- Last Page -->
    <a th:href="@{/product/pImageList(currPage=${pageMaker.lastPageNo}, rowsPerPage=${pageMaker.cri.rowsPerPage})}">LP</a>
</div>
<hr>
</body>
</html>
