<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
</head>
<body>
<h2>Product_Image Table Update</h2>
<hr>
<form th:action="@{/product/piupdate}" method="post" enctype="multipart/form-data">
    <table>
        <tr th:if="${pitable != null}">
            <th>PIMAGE_ID (PK)</th>
            <td><input type="text" name="pimage_id" th:value="${pitable.pimage_id}" readonly></td>
        </tr>
        <tr th:if="${pitable != null}">
            <th>PRODUCT_ID (FK)</th>
            <td><input type="text" name="product_id" th:value="${pitable.product_id}" readonly></td>
        </tr>
        <tr th:if="${pitable != null}">
            <th>PRODUCT_IMAGEPATH</th>
            <td>
                <input type="hidden" name="product_imagepath" th:value="${pitable.product_imagepath}" readonly><br>
                <input type="file" name="uploadfilef" id="uploadfilef">
            </td>
        </tr>
        <tr th:if="${pitable != null}">
            <th>PRODUCT_VALUE1</th>
            <td>
                <select name="product_value1" id="product_value1">
                    <option th:value="${pitable.product_value1}" th:text="${pitable.product_value1}" selected></option>
                    <option value="1">1: 기타 이미지1</option>
                    <option value="2">2: 기타 이미지2</option>
                    <option value="3">3: 기타 이미지3</option>
                    <option value="4">4: 기타 이미지4</option>
                    <option value="5">5: 기타 이미지5</option>
                    <option value="6">6: 기타 이미지6</option>
                </select>
            </td>
        </tr>
        <tr th:if="${pitable != null}">
            <th></th>
            <td>
                <input type="submit" value="수정">&nbsp;&nbsp;&nbsp;
                <input type="reset" value="취소">
            </td>
        </tr>
        <tr th:if="${pitable == null}">
            <td colspan="2">수정할 상품이 존재하지 않습니다</td>
        </tr>
    </table>
</form>
<hr>
</body>
</html>
