<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
</head>
<body>
<h2>Promotion_Product Table List</h2>
&nbsp;<a class="addData" onclick="pmpInsertTable()">테이블 데이터 추가</a>&nbsp;
<hr>

<table border="1">
    <tr>
        <th>Delete</th>
        <th>Update</th>
        <th>PROMOTION_ID</th>
        <th>PROMOTION_NAME</th>
        <th>PROMOTION_IMAGE</th>
        <th>PROMOTION_START</th>
        <th>PROMOTION_END</th>
        <th>PROMOTION_DISCOUNT</th>
        <th>PROMOTION_VALUE1</th>
    </tr>

    <div th:if="${not #lists.isEmpty(pmptable)}">
        <th:block th:each="s : ${pmptable}">
            <tr>
                <td><a th:onclick="|pmpDelete('${s.promotion_id}')|" th:id="${s.promotion_id}">삭제</a></td>
                <td><a th:onclick="|pmpUpdate('${s.promotion_id}')|" th:id="${s.promotion_id}">수정</a></td>
                <td th:text="${s.promotion_id}"></td>
                <td th:text="${s.promotion_name}"></td>
                <td><img th:alt="MyImage" th:src="@{/uploadImages/{image}(image=${s.promotion_image})}"
                         width="60" height="40"></td>
                <td><span th:text="${#dates.format(s.promotion_start, 'yyyy-MM-dd')}"></span></td>
                <td><span th:text="${#dates.format(s.promotion_end, 'yyyy-MM-dd')}"></span></td>
                <td th:text="${s.promotion_discount}"></td>
                <td th:text="${s.promotion_value1}"></td>
            </tr>
        </th:block>
    </div>
    <div th:if="${#lists.isEmpty(pmptable)}">
        <tr>
            <td colspan="7">등록된 상품이 없습니다 ~~</td>
        </tr>
    </div>
</table>
<hr>
</body>
</html>
