<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div id="newPage">
    <h2>[자주묻는질문 상세페이지]</h2>
    <button
            th:onclick="|location.href='faqUpdateForm?faq_id=${faq.faq_id}'|"
            id="crud">글수정
    </button>
    <button id="crud" th:onclick="top.window.close()">창닫기</button>
    <br> <br>
    <div th:if="${faq != null}">
        <table id="boardDetail">
            <tr>
                <th>글번호</th>
                <td th:text="${faq.faq_id}"></td>
            </tr>
            <tr>
                <th>글제목</th>
                <td th:text="${faq.faq_title}"></td>
            </tr>
            <tr>
                <th>글분류</th>
                <td th:text="${faq.question_type}"></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${faq.faq_count}"></td>
            </tr>
            <tr>
                <th>글내용</th>
                <td th:text="${faq.faq_content}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${faq.faq_regdate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
