<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/faq.js"></script>
</head>
<body>

<h2>[자주 묻는 질문 목록 페이지]</h2>
<button id="crud" onclick="faqInsertForm()">글쓰기</button>
<br><br>
<table id="boardTable">
    <tr>
        <th>글번호</th>
        <th>글분류</th>
        <th>글제목</th>
        <th>조회수</th>
        <th>작성일</th>
        <th>삭제</th>
    </tr>
    <tr th:each="s : ${faq}">
        <td th:text="${s.faq_id}">글번호</td>
        <td th:text="${s.question_type}">글분류</td>
        <td>
            <a href="javascript:void(0)"
               th:onclick="'faqDetail(' + ${s.faq_id} + ')'"
               th:text="${s.faq_title}">글제목</a>
        </td>
        <td th:text="${s.faq_count}">조회수</td>
        <td th:text="${s.faq_regdate}">작성일</td>
        <td>
            <a href="javascript:void(0)"
               th:onclick="'faqDelete(' + ${s.faq_id} + ')'">삭제</a>
        </td>
    </tr>
</table>
<div style="text-align:center;">
    <!-- 첫 번째 페이지 -->
    <span th:if="${pageMaker.prev && pageMaker.spageNo > 1}">
        <a href="javascript:void(0)"
           th:attr="data-url='/board/faqPagingList?currPage=1&amp;rowsPerPage=10'"
           onclick="faqPagingList(this.getAttribute('data-url'))">첫 번째 페이지</a>&nbsp;
    </span>
    <span th:unless="${pageMaker.prev && pageMaker.spageNo > 1}">
        <span style="color: gray;">첫 번째 페이지&nbsp;&nbsp;&nbsp;</span>
    </span>

    <!-- 페이지 번호 -->
    <span th:if="${pageMaker.spageNo > 0 && pageMaker.epageNo > 0}"
          th:each="i : ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
        <span th:if="${i == pageMaker.cri.currPage}">
            <b style="color: orange; font-size: larger;" th:text="${i}"></b>&nbsp;
        </span>
        <a href="javascript:void(0)"
           th:if="${i != pageMaker.cri.currPage}"
           th:attr="data-url='/board/faqPagingList' + ${pageMaker.makeQuery(i)}"
           onclick="faqPagingList(this.getAttribute('data-url'))"
           th:text="${i}"></a>&nbsp;
    </span>

    <!-- 데이터가 없을 때 -->
    <span th:unless="${pageMaker.spageNo > 0 && pageMaker.epageNo > 0}">
        <b style="color: gray;">0</b>
    </span>

    <!-- 마지막 페이지 -->
    <span th:if="${pageMaker.next && pageMaker.epageNo > 0}">
        &nbsp;<a href="javascript:void(0)"
                 th:attr="data-url='/board/faqPagingList' + ${pageMaker.makeQuery(pageMaker.lastPageNo)}"
                 onclick="faqPagingList(this.getAttribute('data-url'))">마지막 페이지</a>
    </span>
    <span th:unless="${pageMaker.next && pageMaker.epageNo > 0}">
        <span style="color: gray;">&nbsp;&nbsp;마지막 페이지</span>
    </span>
</div>
</body>
</html>
