<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/faq.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div id="newPage">
    <h2>[자주묻는질문 수정페이지]</h2>
    <button id="crud" onclick="history.back()">뒤로</button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br><br>
    <form>
        <table id="boardDetail">
            <tr>
                <th>글제목</th>
                <td>
                    <input type="text" id="faq_title" th:value="${faq.faq_title}"/>
                </td>
            </tr>
            <tr>
                <th>글분류</th>
                <td>
                    <select id="question_type">
                        <option value="[결제/배송]" th:selected="${faq.question_type == '[결제/배송]'}">[결제/배송]</option>
                        <option value="[회원가입/정보]" th:selected="${faq.question_type == '[회원가입/정보]'}">[회원가입/정보]</option>
                        <option value="[교환/환불/반품]" th:selected="${faq.question_type == '[교환/환불/반품]'}">[교환/환불/반품]</option>
                        <option value="[기타]" th:selected="${faq.question_type == '[기타]'}">[기타]</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>글내용</th>
                <td>
                    <input type="text" id="faq_content" th:value="${faq.faq_content}"/>
                </td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>
                    <input type="text" id="faq_regdate" th:value="${faq.faq_regdate}" readonly="readonly"/>
                </td>
            </tr>
        </table>
    </form>
    <button id="crud" th:data-id="${faq.faq_id}" onclick="updateFaq(this.getAttribute('data-id'))">확인</button>
</div>
</body>
</html>
