<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/inquiry.js"></script>
</head>
<body>
<h2>[상품문의 목록 페이지]</h2>
<br> <br>
<table id="boardTable">
    <tr>
        <th>글번호</th>
        <th>글제목</th>
        <th>상품명</th>
        <th>답변여부</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>작성일</th>
        <th>삭제</th>
    </tr>
    <tr th:if="${#lists.size(inquiry) > 0}" th:each="s : ${inquiry}">
        <td th:text="${s.inquiry_id}"></td>
        <td><a th:onclick="'inquiryDetail(' + ${s.inquiry_id} + ')' " th:text="${s.inquiry_title}"></a></td>
        <td th:text="${s.product_name}"></td>
        <td>
            <b th:if="${s.answer_content != null}" style="color: blue;">답변완료</b>
            <b th:if="${s.answer_content == null}" style="color: red;">확인중</b>
        </td>
        <td th:text="${s.inquiry_writer}"></td>
        <td th:text="${s.inquiry_count}"></td>
        <td th:text="${s.inquiry_regdate}"></td>
        <td><a th:onclick="'inquiryDelete(' + ${s.inquiry_id} + ')'">삭제</a></td>
    </tr>
</table>
<!-- Pagination -->
<div style="text-align:center;">
    <!-- 첫번째 페이지 이동 -->
    <a th:if="${pageMaker.prev and pageMaker.spageNo > 1}"
       th:onclick="'inquiryPagingList(\'/board/inquiryPagingList?currPage=1&rowsPerPage=5\')'">
        첫번째 페이지
    </a>
    <span th:if="${!(pageMaker.prev and pageMaker.spageNo > 1)}" style="color: gray;">첫번째 페이지</span>

    <!-- 페이징 번호 표시 -->
    <span th:each="i : ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
        <b th:if="${i == pageMaker.cri.currPage}" style="color: orange;" th:text="${i}"></b>
        <a th:if="${i != pageMaker.cri.currPage}"
           th:onclick="'inquiryPagingList(\'/board/inquiryPagingList' + ${pageMaker.makeQuery(i)} + '\')'"
           th:text="${i}"></a>
    </span>

    <!-- 마지막 페이지 이동 -->
    <a th:if="${pageMaker.next and pageMaker.epageNo > 0}"
       th:onclick="'inquiryPagingList(\'/board/inquiryPagingList' + ${pageMaker.makeQuery(pageMaker.lastPageNo)} + '\')'">
        마지막 페이지
    </a>
    <span th:if="${!(pageMaker.next and pageMaker.epageNo > 0)}" style="color: gray;">마지막 페이지</span>
</div>
</body>
</html>
