<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/inquiry.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div id="newPage">
    <h2>[상품문의 답변 수정페이지]</h2>
    <button id="crud" onclick="history.back()">뒤로</button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br> <br>
    <form action="inquiryUpdate" method="post">
        <table id="boardDetail">
            <tr>
                <th>답변 내용</th>
                <td>
                    <textarea id="answer_content" name="answer_content" rows="10" cols="30"
                              th:text="${inquiry.answer_content}"></textarea>
                    <input type="hidden" id="inquiry_writer" name="inquiry_writer"
                           th:value="${inquiry.inquiry_writer}"/>
                </td>
            </tr>
            <tr>
                <th>답변 작성일</th>
                <td th:text="${inquiry.answer_regdate}"></td>
            </tr>
        </table>
        <button id="crud" type="button" th:attr="data-inquiry-id=${inquiry.inquiry_id}"
                onclick="updateInquiryAnswer(this.dataset.inquiryId)">확인
        </button>
    </form>
</div>
</body>
</html>
