<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div id="newPage">
    <h2>[공지사항 수정페이지]</h2>
    <button id="crud" onclick="history.back()">뒤로</button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br><br>
    <form action="/api/board/noticeUpdate" method="post" id="update"
          onsubmit="return confirm('수정하시겠습니까?');">
        <table id="boardDetail">
            <tr th:if="${notice != null}">
                <th>글제목</th>
                <td>
                    <input type="hidden" name="notice_id" th:value="${notice.notice_id}">
                    <input type="text" name="notice_title" th:value="${notice.notice_title}">
                </td>
            </tr>
            <tr th:if="${notice != null}">
                <th>작성자</th>
                <td>
                    <input type="text" name="notice_writer" th:value="${notice.notice_writer}" readonly="readonly">
                </td>
            </tr>
            <tr th:if="${notice != null}">
                <th>조회수</th>
                <td>
                    <input type="text" name="notice_count" th:value="${notice.notice_count}" readonly="readonly">
                </td>
            </tr>
            <tr th:if="${notice != null}">
                <th>글내용</th>
                <td>
                    <input type="text" name="notice_content" th:value="${notice.notice_content}">
                </td>
            </tr>
            <tr th:if="${notice != null}">
                <th>작성일</th>
                <td>
                    <input type="text" name="notice_regdate" th:value="${notice.notice_regdate}" readonly="readonly">
                </td>
            </tr>
        </table>
    </form>
    <button type="submit" id="crud" form="update">확인</button>
</div>
</body>
</html>
