<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div id="newPage">
    <h2>[공지사항 상세페이지]</h2>
    <button id="crud" th:onclick="'location.href=\'noticeUpdateForm?notice_id=' + ${notice.notice_id} + '\''">글수정
    </button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br><br>
    <div th:if="${notice != null}">
        <table id="boardDetail">
            <tr>
                <th>글번호</th>
                <td th:text="${notice.notice_id}"></td>
            </tr>
            <tr>
                <th>글제목</th>
                <td th:text="${notice.notice_title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${notice.notice_writer}"></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${notice.notice_count}"></td>
            </tr>
            <tr>
                <th>글내용</th>
                <td th:text="${notice.notice_content}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${notice.notice_regdate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
