<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Petmily Administrator Page</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/javascript/notice.js"></script>
</head>
<body>
<h2>[공지사항 목록 페이지]</h2>
<button id="crud" th:attr="onclick='noticeInsertForm()'">글쓰기</button>
<br> <br>
<table id="boardTable">
	<tr>
		<th>글번호</th>
		<th>글제목</th>
		<th>작성자</th>
		<th>조회수</th>
		<th>작성일</th>
		<th>삭제</th>
	</tr>
	<th:block th:if="${not #lists.isEmpty(notice)}">
		<th:block th:each="s : ${notice}">
			<tr>
				<td th:text="${s.notice_id}"></td>
				<td><a th:attr="onclick='noticeDetail(' + ${s.notice_id} + ')'" th:text="${s.notice_title}"></a></td>
				<td th:text="${s.notice_writer}"></td>
				<td th:text="${s.notice_count}"></td>
				<td th:text="${s.notice_regdate}"></td>
				<td><a th:attr="onclick='noticeDelete(' + ${s.notice_id} + ')'" >삭제</a></td>
			</tr>
		</th:block>
	</th:block>
</table>

<!-- 페이지네이션 -->

<!-- 첫번째 페이지 이동 -->
<div style="text-align:center;">
	<th:block th:if="${pageMaker.prev and pageMaker.spageNo > 1}">
		<a th:attr="onclick='noticePagingList(\'/board/noticePagingList?currPage=1&rowsPerPage=5\')'" >첫번째 페이지</a>&nbsp;
	</th:block>
	<th:block th:if="${not (pageMaker.prev and pageMaker.spageNo > 1)}">
		<font color="Gray">첫번째 페이지&nbsp;&nbsp;&nbsp;</font>
	</th:block>

	<!-- 페이징 번호 표시 -->
	<th:block th:each="i : ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
		<th:block th:if="${i == pageMaker.cri.currPage}">
			<font color="Orange" size="5"><b th:text="${i}"></b></font>&nbsp;
		</th:block>
		<th:block th:if="${i != pageMaker.cri.currPage}">
			<a th:attr="onclick='noticePagingList(\'/board/noticePagingList' + ${pageMaker.makeQuery(i)} + '\')'" th:text="${i}"></a>&nbsp;
		</th:block>
	</th:block>

	<!-- 마지막 페이지 이동 -->
	<th:block th:if="${pageMaker.next and pageMaker.epageNo > 0}">
		&nbsp; <a th:attr="onclick='noticePagingList(\'/board/noticePagingList' + ${pageMaker.makeQuery(pageMaker.lastPageNo)} + '\')'" >마지막 페이지</a>
	</th:block>
	<th:block th:if="${not (pageMaker.next and pageMaker.epageNo > 0)}">
		<font color="Gray">&nbsp;&nbsp;마지막 페이지</font>
	</th:block>
</div>
</body>
</html>
