<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>
<body>
<div id="newPage">
    <h2>[상품후기 상세페이지]</h2>
    <button id="crud" th:onclick="'location.href=\'reviewUpdateForm?review_id=' + ${review.review_id} + '\''">글수정
    </button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br><br>
    <div th:if="${review != null}">
        <table id="boardDetail">
            <tr>
                <th>글번호</th>
                <td th:text="${review.review_id}"></td>
            </tr>
            <tr>
                <th>글제목</th>
                <td th:text="${review.review_title}"></td>
            </tr>
            <tr>
                <th>상품명</th>
                <td th:text="${review.product_name}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${review.review_writer}"></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${review.review_count}"></td>
            </tr>
            <tr>
                <th>평점</th>
                <td th:text="${review.review_point}"></td>
            </tr>
            <tr>
                <th>글내용</th>
                <td th:text="${review.review_content}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${review.review_regdate}"></td>
            </tr>
            <tr>
                <th>후기 이미지1</th>
                <td>
                    <img alt="사진1" th:src="@{'/uploadImages/' + ${review.review_image1}}" width="100" height="120">
                </td>
            </tr>
            <tr>
                <th>후기 이미지2</th>
                <td>
                    <img alt="사진2" th:src="@{'/uploadImages/' + ${review.review_image2}}" width="100" height="120">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div th:if="${reply == null or #lists.isEmpty(reply)}">
        <div th:each="s : ${reply}">
            <table id="boardDetail">
                <tr>
                    <th>작성자</th>
                    <td th:text="${s.reply_writer}"></td>
                </tr>
                <tr>
                    <th>댓글 내용</th>
                    <td th:text="${s.reply_content}"></td>
                </tr>
                <tr>
                    <th>댓글 작성일</th>
                    <td th:text="${s.reply_regdate}"></td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</div>
</body>
</html>
