<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/review.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>
<body>
<div id="newPage">
    <h2>[상품후기 수정페이지]</h2>
    <button id="crud" onclick="history.back()">뒤로</button>
    <button id="crud" onclick="top.window.close()">창닫기</button>
    <br> <br>
    <form id="updateReviewForm" enctype="multipart/form-data">
        <table id="boardDetail">
            <tr>
                <th>글제목</th>
                <td>
                    <input type="text" name="review_title" th:value="${review.review_title}"/>
                    <input type="hidden" name="review_id" th:value="${review.review_id}"/>
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="text" name="review_writer" th:value="${review.review_writer}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <th>평점</th>
                <td>
                    <select name="review_point" th:value="${review.review_point}">
                        <option value="1" th:selected="${review.review_point == 1}">1</option>
                        <option value="2" th:selected="${review.review_point == 2}">2</option>
                        <option value="3" th:selected="${review.review_point == 3}">3</option>
                        <option value="4" th:selected="${review.review_point == 4}">4</option>
                        <option value="5" th:selected="${review.review_point == 5}">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>글내용</th>
                <td>
                    <input type="text" name="review_content" th:value="${review.review_content}"/>
                </td>
            </tr>
            <tr>
                <th>후기 이미지1</th>
                <td>
                    <img alt="사진1" class="selectImage1" th:src="@{'/' + ${review.review_image1}}" width="80" height="100">
                    <input type="hidden" name="review_image1" th:value="${review.review_image1}"><br>
                    <input type="file" name="uploadfile1" id="uploadfile1" size="20">
                </td>
            </tr>
            <tr>
                <th>후기 이미지2</th>
                <td>
                    <img alt="사진2" class="selectImage2" th:src="@{'/' + ${review.review_image2}}" width="80" height="100">
                    <input type="hidden" name="review_image2" th:value="${review.review_image2}"><br>
                    <input type="file" name="uploadfile2" id="uploadfile2" size="20">
                </td>
            </tr>
        </table>
    </form>
    <button id="crud" onclick="updateReview()">확인</button>
</div>
</body>
<script type="text/javascript">
    document.getElementById('uploadfile1').onchange = function (e) {
        if (this.files && this.files[0]) {
            let reader = new FileReader;
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) { // 이미지 src 변경
                document.getElementsByClassName("selectImage1")[0].src = e.target.result;
            }
        }
    };
    document.getElementById('uploadfile2').onchange = function (e) {
        if (this.files && this.files[0]) {
            let reader = new FileReader;
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) { // 이미지 src 변경
                document.getElementsByClassName("selectImage2")[0].src = e.target.result;
            }
        }
    };
</script>
</html>
