<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/jquery-3.2.1.min.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/join.js"></script>
    <script src="/javascript/findid.js"></script>
    <script src="/javascript/findpw.js"></script>
    <script src="/javascript/userList.js"></script>
    <script src="/javascript/update.js"></script>
</head>
<body>
<h2>User form</h2>
<span th:if="${session.loginID != null}">
    => <span th:text="${session.loginName}"></span>님 안녕하세요<br>
</span>
<span th:if="${message != null}">
    => <span th:text="${message}"></span><br>
</span>
<hr>
&nbsp;<span class="textlink" onclick="Loginf()">Login</span>&nbsp;
&nbsp;<span class="textlink" onclick="Joinf()">Join</span>&nbsp;
&nbsp;<span class="textlink" onclick="UserList()">userList</span>&nbsp;
<span th:if="${session.loginID != null}">
    &nbsp;<span class="textlink" onclick="userLogout()">Logout</span>&nbsp;
</span>
&nbsp;<a href="/home">[Home]</a>
<hr>
<div id="resultArea1"></div>
<div id="resultArea2"></div>
</body>
</html>
