<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petmily Administrator Page</title>
    <script src="/javascript/jquery-3.2.1.min.js"></script>
</head>
<body>
<h2>[주문상세 수정 페이지]</h2>
<form th:action="@{/api/rscart/orderProductUpdate}" method="post" enctype="multipart/form-data" id="orderdetailUpdateform">
    <table>
        <!-- 조건부 렌더링 -->
        <tr th:if="${apple != null}">
            <td bgcolor="Linen">주문번호</td>
            <td><input type="number" name="order_key" th:value="${apple.order_key}" size="20"></td>
        </tr>
        <tr th:if="${apple != null}">
            <td bgcolor="Linen">배송상태</td>
            <td>
                <select name="delivery_status">
                    <option th:value="'배송준비중'" th:selected="${apple.delivery_status == '배송준비중'}">배송준비중</option>
                    <option th:value="'배송완료'" th:selected="${apple.delivery_status == '배송완료'}">배송완료</option>
                </select>
            </td>
        </tr>
        <tr th:if="${apple != null}">
            <td colspan="2">
                <input type="submit" id="submit" class="textlink" th:onclick="orderDetailUpdate()" value="주문내역 수정">
                &nbsp;&nbsp;
                <input type="reset" value="취소">
            </td>
        </tr>

        <!-- apple이 없을 경우 -->
        <tr th:if="${apple == null}">
            <td colspan="7">수정할 자료가 존재하지 않습니다</td>
        </tr>
    </table>
</form>
<hr>
<!-- 메시지가 있을 경우 -->
<div th:if="${message != null}">
    <hr>
    <span th:text="${message}"></span><br>
</div>
</body>
</html>
