<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Petmily Administrator Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
    <script src="/javascript/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/notice.js"></script>
    <script src="/javascript/inquiry.js"></script>
    <script src="/javascript/faq.js"></script>
    <script src="/javascript/review.js"></script>
    <script src="/javascript/boardform.js"></script>
    <script src="/javascript/cart.js"></script>
    <script src="/javascript/orderProduct.js"></script>
    <script src="/javascript/orderDetail.js"></script>
    <script src="/javascript/productList.js"></script>
    <script src="/javascript/productInsert.js"></script>
    <script src="/javascript/productUpdate.js"></script>
    <script src="/javascript/productDelete.js"></script>
    <script src="/javascript/userform.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/join.js"></script>
    <script src="/javascript/findid.js"></script>
    <script src="/javascript/findpw.js"></script>
    <script src="/javascript/userList.js"></script>
    <script src="/javascript/update.js"></script>
</head>
<body>
<h1><a href="/home">관리자페이지</a></h1>
<table id="mainTable">
    <tr>
        <th><a onclick="userForm()">USER</a></th>
        <th><a onclick="pTableListf()">PRODUCT</a></th>
        <th><a onclick="cartForm()">ORDER</a></th>
        <th><a onclick="boardForm()">BOARD</a></th>
    </tr>
</table>
<hr>
<div id="newPage" th:data-login-id="${session.loginID != null ? session.loginID : ''}"
     th:data-login-name="${session.loginName != null ? session.loginName : ''}"></div>
<div id="pTableListArea"></div>
<div id="insertTableArea"></div>
<div id="resultArea1"></div>
<div id="resultArea2"></div>
&nbsp;
<a href="/home">[Home]</a>&nbsp;
<a onclick="location.href='https://petmilyreal.netlify.app/'">[Petmily]</a>&nbsp;
</body>
</html>