<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.mapperInterface.EventMapper">
	
	<select id="selectList" resultType="com.petmily.domain.EventDTO">
		select * from event
	</select>
	
	<select id="selectOne" resultType="com.petmily.domain.EventDTO">
		select * from event where event_id=#{event_id}
	</select>
	
	<insert id="insert">
		insert into event(event_name, event_description, event_start, event_end, event_imagepath)
		value (#{event_name}, #{event_description}, #{event_start}, #{event_end}, #{event_imagepath})
	</insert>
	
	<update id="update">
		update event
		set event_name=#{event_name}, event_description=#{event_description}, event_start=#{event_start}, event_end=#{event_end}, event_imagepath=#{event_imagepath}
		where event_id=#{event_id}
	</update>
	
	<delete id="delete">
		delete from event where event_id=#{event_id}
	</delete>
</mapper>