<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.mapperInterface.ProductImageMapper">
	
	<select id="selectList" resultType="com.petmily.domain.ProductImageDTO">
		select pi.*, p.product_name
		from product_image as pi
		join product as p
		on pi.product_id = p.product_id
	</select>
	
	<select id="selectListByID" resultType="com.petmily.domain.ProductImageDTO">
		select pi.*, p.product_name
		from product_image as pi
		join product as p
		on pi.product_id = p.product_id
		where pi.product_id=#{product_id}
	</select>
	
	<select id="selectOne" resultType="com.petmily.domain.ProductImageDTO">
		select * from product_image where pimage_id=#{pimage_id}
	</select>
	
	<insert id="insert">
		insert into product_image(product_id, product_imagepath, product_value1)
		value (#{product_id}, #{product_imagepath}, #{product_value1})
	</insert>
	
	<update id="update">
		update product_image
		set product_imagepath=#{product_imagepath}, product_value1=#{product_value1}
		where pimage_id=#{pimage_id}
	</update>
	
	<delete id="delete">
		delete from product_image where pimage_id=#{pimage_id}
	</delete>
	
	<sql id="search">
		<!-- 1) CONCAT('%',#{keyword},'%') 처리 -->
		<if test="keyword!=null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<!-- 2) LIKE 조건문 -->
		<choose>
			<when test="searchType!=null and searchType!='all'">
				and ${searchType} LIKE #{keyVal} )
			</when>	
			<when test="searchType!=null and searchType=='all' and keyword!=null">
				and ( pimage_id LIKE #{keyVal}
					  OR product_id LIKE #{keyVal} ))
			</when>	
			<otherwise>)</otherwise>
		</choose>
	</sql>
	
	<select id="searchCri" resultType="com.petmily.domain.ProductImageDTO">
		select * from product_image
			where ( pimage_id>0 <include refid="search"></include>
			ORDER BY pimage_id DESC
			limit #{sno}, #{rowsPerPage}
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(*) from product_image
			where ( pimage_id>0 <include refid="search"></include>
	</select>
</mapper>