<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.mapperInterface.PromotionProductMapper">
	
	<select id="selectList" resultType="com.petmily.domain.PromotionProductDTO">
		select * from promotion_product
	</select>
	
	<select id="selectOne" resultType="com.petmily.domain.PromotionProductDTO">
		select * from promotion_product where promotion_id=#{promotion_id}
	</select>
	
	<select id="selectPromotionInfoList" resultType="com.petmily.domain.PromotionProductDTO">
		SELECT *
		FROM promotion_product
		WHERE CURDATE() BETWEEN promotion_start AND promotion_end
		  AND promotion_id <![CDATA[<]]> 10
		<!-- WHERE promotion_id <![CDATA[<]]> 10 -->
	</select>
	
	<insert id="insert">
		INSERT INTO promotion_product(promotion_id, promotion_name, promotion_image, promotion_start, promotion_end, promotion_discount, promotion_value1)
		VALUE (#{promotion_id}, #{promotion_name}, #{promotion_image}, #{promotion_start}, #{promotion_end}, #{promotion_discount}, #{promotion_value1})
	</insert>
	
	<update id="update">
		UPDATE promotion_product
		SET promotion_name=#{promotion_name}, promotion_image=#{promotion_image}, promotion_start=#{promotion_start}, promotion_end=#{promotion_end}, promotion_discount=#{promotion_discount}, promotion_value1=#{promotion_value1}
		where promotion_id=#{promotion_id}
	</update>
	
	<delete id="delete">
		DELETE FROM promotion_product WHERE promotion_id=#{promotion_id}
	</delete>
	
</mapper>